body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #222;
  color: white;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}

.main {
  padding: 40px;
  text-align: center;
}

.buttons button {
  margin: 10px;
  padding: 10px 16px;
  cursor: pointer;
}

.list {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.loading{
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.error{
  color: red;
  text-align: center;
}

.footer {
  padding: 15px;
  text-align: center;
  background: #f2f2f2;
}
